:root{
    --blue: #006e3d;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.916);
}


body {
    font-family: 'Nunito', sans-serif;
    min-height: 2000px;
}

marquee {
    color: darkgreen;
}



.btn {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
    display: inline-block;
    justify-content: center;
}

span , u {
    color: darkgreen;
    text-shadow: var(--shadow);
}

.nav, .navbar-brand  {
    font-family: 'Poppins', sans-serif;
    
} 


.nav-item ,
h1 {
    font-family: 'Poppins', sans-serif;

}
.active {
    text-decoration: underline;
    background-color: darkgreen;
    text-underline-offset: 4px;
    
}

.nav-link:hover , .dropdown-item:hover {
    color: rgb(255, 255, 255);
    background: darkgreen;
}

.navbar {
    background-color: darkgreen;
}

a i, marquee {
    color: white;
    margin-left: 0.2rem;
}

.col a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.col {
    padding-bottom: 10px;
}


.col .card-title {
    text-align:center;
}

.col a:hover {
    color: darkgreen;
    text-decoration: bold;
    font-family: 'Poppins', sans-serif;
}
.col .card a:hover {
    color: rgb(248, 249, 248);
    text-decoration: bold;
    font-family: 'Poppins', sans-serif;
    background: darkgreen;
    .card-text {
        color: rgb(248, 249, 248);
    }
}

.row .col .card:hover {
    box-shadow: var(--shadow);
}

.col .card-text {
    font-size: large;
    color: darkgreen;
    font-family: 'Poppins', sans-serif;
}

.card-footer:hover {
    color: rgb(250, 255, 250);
    font-family: 'Poppins', sans-serif;
}

.card-footer .progress-bar {
    color: #fffefe;
    font-size: 1rem;
}

.progress {
   height: 2rem;
}















































/* media yang digunakan*/
/* media extra large*/
@media (max-width: 1200px) {
}

/* media leptop*/
@media (max-width: 992px){
html {
    font-size: 75%;
}
    .text-bg-success {
        text-align: center;
    }
    .simply-countdown > .simply-section {
        padding: 70px;
    }
}
/* media tab*/
@media (max-width: 768px){
    html {
        font-size: 60%;
}
    .text-bg-success {
        text-align: center;
    }
    .active .text-underline-offset {
        display: none;
    }    
    .text-bg-success {
        text-align: center;
        }
        
        .sticky-bottom {
            overflow: hidden;
        }
        .clock-container img {
            width: 130px;
        }
        .clock-container  #countdown {
            size: 2px;;
        }
}
/* media hp */
@media (max-width: 576px){
    html {
        font-size: 50%;
    }
    .text-bg-success {
        text-align: center;
        }
        
        .sticky-bottom {
            overflow: hidden;
        }
        .clock-container img {
            width: 130px;
        }
        .clock-container  #countdown {
            size: 2px;;
        }
        .col iframe {
        width: 100%;
        }
    }
